In [1]:
import pandas as pd
import pickle

In [2]:
to_be_scored = pickle.load(open("data/abc_abc_regression_scoring.p", "rb"))
to_be_scored.head()

,customer_id,distance_from_store,gender,credit_score,customer_loyalty_score,total_sales,total_items,transaction_count,product_area_count,average_basket_value
0,74,3.38,F,0.59,0.263,2563.71,297,44,5,58.266136
1,524,4.76,F,0.52,0.298,2996.02,357,49,5,61.143265
2,607,4.45,F,0.49,0.337,2853.82,350,49,5,58.241224
3,343,0.91,M,0.54,0.873,2388.31,272,54,5,44.227963
4,322,3.02,F,0.63,0.350,2401.64,278,50,5,48.032800

In [3]:
regressor = pickle.load(open("data/random_forest_regression_model.p", "rb"))
one_hot_encoder = pickle.load(open("data/random_forest_regression_ohe.p", "rb"))

In [4]:
to_be_scored.drop(["customer_id", "customer_loyalty_score"], axis = 1, inplace = True)

In [5]:
to_be_scored.dropna(how = 'any', inplace = True)

In [6]:
categorical_vars = ["gender"]
encoder_vars_array = one_hot_encoder.transform(to_be_scored[categorical_vars])
encoder_feature_names = one_hot_encoder.get_feature_names(categorical_vars)
encoder_vars_df = pd.DataFrame(encoder_vars_array, columns = encoder_feature_names)
to_be_scored = pd.concat([to_be_scored.reset_index(drop = True), encoder_vars_df.reset_index(drop = True)], axis = 1)
to_be_scored.drop(categorical_vars, axis = 1, inplace = True)
to_be_scored

C:\Users\sophi\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,distance_from_store,credit_score,total_sales,total_items,transaction_count,product_area_count,average_basket_value,gender_M
0,3.38,0.59,2563.71,297,44,5,58.266136,0.0
1,4.76,0.52,2996.02,357,49,5,61.143265,0.0
2,4.45,0.49,2853.82,350,49,5,58.241224,0.0
3,0.91,0.54,2388.31,272,54,5,44.227963,1.0
4,3.02,0.63,2401.64,278,50,5,48.032800,0.0
...,...,...,...,...,...,...,...,...
389,2.14,0.64,3499.39,278,47,5,74.455106,1.0
390,4.38,0.50,3423.01,338,49,5,69.857347,0.0
391,2.36,0.63,3648.08,280,49,5,74.450612,0.0
392,0.21,0.47,3303.80,264,51,5,64.780392,1.0
393,0.07,0.70,3104.45,305,51,5,60.871569,1.0

In [7]:
loyalty_predictions = regressor.predict(to_be_scored)

In [9]:
loyalty_predictions

array([0.28456, 0.31258, 0.3288 , 0.84909, 0.32667, 0.72055, 0.98711,
       0.47982, 0.62354, 0.28693, 0.94304, 0.73126, 0.69128, 0.54349,
       0.75076, 0.40104, 0.38245, 0.89219, 0.38384, 0.39728, 0.42829,
       0.54164, 0.27156, 0.83938, 0.37804, 0.42591, 0.86214, 0.86484,
       0.44074, 0.59238, 0.88929, 0.4725 , 0.91805, 0.89252, 0.64569,
       0.61435, 0.97611, 0.67784, 0.70455, 0.75707, 0.49627, 0.51576,
       0.89712, 0.77245, 0.95839, 0.54249, 0.33832, 0.86635, 0.59631,
       0.34662, 0.58905, 0.34387, 0.26586, 0.59819, 0.84709, 0.6118 ,
       0.45283, 0.61223, 0.26318, 0.92459, 0.54494, 0.8459 , 0.66001,
       0.42037, 0.9028 , 0.72114, 0.47269, 0.33513, 0.95075, 0.23728,
       0.6909 , 0.95737, 0.36869, 0.27127, 0.38291, 0.33434, 0.92091,
       0.59306, 0.38427, 0.9004 , 0.27023, 0.32941, 0.49986, 0.67279,
       0.31272, 0.37156, 0.37134, 0.38528, 0.27808, 0.23514, 0.82139,
       0.28484, 0.28853, 0.75095, 0.85009, 0.26601, 0.26677, 0.73659,
       0.88636, 0.19924, 0.45459, 0.20769, 0.20933, 0.52324, 0.25272,
       0.43109, 0.15774, 0.62696, 0.61234, 0.8831 , 0.28655, 0.77568,
       0.29458, 0.80971, 0.73009, 0.36311, 0.57764, 0.49613, 0.28491,
       0.59722, 0.94077, 0.47336, 0.48274, 0.19392, 0.76107, 0.5074 ,
       0.30416, 0.34651, 0.94816, 0.50774, 0.339  , 0.3153 , 0.48623,
       0.64483, 0.39332, 0.30359, 0.35452, 0.75173, 0.77064, 0.20589,
       0.43955, 0.20118, 0.52778, 0.11443, 0.50753, 0.16183, 0.22871,
       0.26198, 0.18747, 0.11507, 0.23315, 0.07609, 0.89903, 0.48822,
       0.6821 , 0.21809, 0.28917, 0.35478, 0.10019, 0.22297, 0.26852,
       0.86053, 0.88439, 0.14073, 0.65376, 0.11922, 0.39813, 0.09615,
       0.09897, 0.22437, 0.17671, 0.22468, 0.59052, 0.22624, 0.8516 ,
       0.17606, 0.10055, 0.22521, 0.18652, 0.23786, 0.80219, 0.75498,
       0.77823, 0.87522, 0.80081, 0.91375, 0.60571, 0.85285, 0.78815,
       0.83304, 0.76708, 0.86554, 0.78848, 0.81212, 0.7911 , 0.68382,
       0.67506, 0.76908, 0.87259, 0.87423, 0.82239, 0.66179, 0.88511,
       0.67743, 0.74839, 0.70046, 0.84639, 0.86373, 0.79016, 0.91237,
       0.94431, 0.85351, 0.81292, 0.75113, 0.84672, 0.94113, 0.8673 ,
       0.8302 , 0.80772, 0.72926, 0.86519, 0.85788, 0.77976, 0.80167,
       0.75387, 0.76737, 0.59212, 0.87646, 0.6391 , 0.74511, 0.71329,
       0.76815, 0.59463, 0.41655, 0.80191, 0.80517, 0.55271, 0.57381,
       0.85636, 0.40975, 0.3808 , 0.48234, 0.6663 , 0.63101, 0.69054,
       0.42249, 0.41994, 0.56698, 0.36822, 0.78461, 0.4028 , 0.7224 ,
       0.47438, 0.59201, 0.33392, 0.88952, 0.4944 , 0.41068, 0.54704,
       0.65028, 0.6757 , 0.69167, 0.61617, 0.64949, 0.5304 , 0.3476 ,
       0.74967, 0.87422, 0.45327, 0.39077, 0.41983, 0.21805, 0.44021,
       0.03584, 0.12069, 0.14779, 0.03328, 0.05868, 0.06925, 0.06158,
       0.52579, 0.13963, 0.58901, 0.01019, 0.39142, 0.19488, 0.1295 ,
       0.05102, 0.0648 , 0.40583, 0.0196 , 0.01018, 0.04777, 0.11989,
       0.76306, 0.57164, 0.08383, 0.0676 , 0.06111, 0.298  , 0.47697,
       0.04188, 0.7067 , 0.08893, 0.08684, 0.13949, 0.1243 , 0.01612,
       0.05849, 0.11292, 0.45894, 0.06853, 0.54604, 0.07845, 0.53557,
       0.56744, 0.27086, 0.03434, 0.06879, 0.48397, 0.16021, 0.35851,
       0.05101, 0.36715, 0.06172, 0.09592, 0.18311, 0.03163, 0.19279,
       0.02963, 0.04888, 0.0501 , 0.01872, 0.26922, 0.00844, 0.40792,
       0.2607 , 0.02776, 0.69214, 0.49986, 0.08098, 0.20543, 0.08208,
       0.02881, 0.22486, 0.09299, 0.18596, 0.00996, 0.58297, 0.5512 ,
       0.95273, 0.72808, 0.52236, 0.51382, 0.6517 , 0.97955, 0.62444,
       0.98549, 0.52343, 0.51677, 0.77844, 0.64719, 0.97737, 0.98605,
       0.90416, 0.90931, 0.57721, 0.94143, 0.95642, 0.37075, 0.78   ,
       0.97388, 0.83835, 0.94219, 0.77267, 0.46784, 0.74502, 0.34241,
       0.48656, 0.96684, 0.82595, 0.92249, 0.38053, 0.42097, 0.45165,
       0.57736, 0.35083, 0.89594, 0.51997, 0.56145, 0.344  , 0.55082,
       0.94578, 0.98197])